body {
	background-color: #182429;
	color: white;
	font-family: "Exo 2", sans-serif;
}

.navbar-header {
	padding-left: 10px;
}

.navbar-above {
	background-color: #2C3452;
	border: 0px;
  margin-bottom: 0px;
}

.navbar-above a {
	color: white;
}

.navbar-above li > a:active {
	background-color: #2C3452;
}

.navbar-above li > a:visited {
	background-color: #2C3452;
}

.navbar-above li > a:hover {
	background-color: #182429;
}
