/* The side navigation bar */
.sidebar {
  position: absolute;
  background-color: #21273D;
  padding-right: 0px;
  height: 100%;
  top: 50px;
  bottom: 0px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-sidebar-button {
  background-color: #525D84;
  color: #05A4D8;
  margin: 30px 30px 30px 0px;
  padding-bottom: 10px;
  width: 50%;
  position: relative;
  left: 25%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 75px;
  outline: 0px;
  user-select: none;

  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #313959;

  transition: text-shadow 0.5s;

  cursor: pointer;
}

.nav-sidebar-button:hover {
  color: #05A4D8;
  background-color: #444F77;
  text-decoration: none;
  text-shadow:0 -1px 0 rgba(0,0,0,1),0 0px 30px rgba(0,180,255,1),0 0px 50px rgba(0,180,255,1);
  transition: text-shadow 0.5s;
}

.nav-sidebar-button:active {
  color: #05A4D8;
  background-color: #444F77;
  text-decoration: none;
  box-shadow: 0 5px #313959;
  transform: translateY(4px);
}


.container-fluid {
  padding-left: 0px;
}

.nav-sidebar-opts {
  margin-left: 10px;
}

.nav-sidebar-opts > li > a {
  background-color: #2C3452;
  color: #FFFFFF;
}

.nav-sidebar-opts li > a:hover {
	background-color: #182429;
}

.nav-sidebar-opts .active {
  background-color: #182429;
}

.modal {
  color: white;
}

.modal-dialog {
  position: absolute;
  top: calc(50vh - 150px);
  left: calc(50vw - 200px);

}

.modal-content {
  background-color: #121B1F;
  border: 1px solid #203040;
  width: 400px;
  opacity: 1;
  transition: opacity 0.2s ease-in;
  border-radius: 0px;
  border-color: black;
}

.modal-content > div{
  border-color: black;
}

.modal-title {
  text-align: center;
}

.modal-input {
  position: relative;
  width: 100%;
  background-color: #121B1F;
	border: 2px solid #30375C;
	padding-left: 10px;
	padding-right: 10px;
}

.modal-button {
  position: relative;
  width: 100%;
  background-color: #284BED;
  color: white;
	border: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
}
