{{define "header"}}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{if .Title}} {{.Title}} {{else}} Kappa {{end}}</title>
    <script src="/js/lib/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="/js/lib/bootstrap.min.js" type="text/javascript"></script>
		<link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"></link>
		<link href="/css/header.css" type="text/css" rel="stylesheet"></link>
  </head>
  <body>
    <nav class="navbar navbar-above">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            Kappa
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/">Home</a>
          </li>
          {{if .Username}}
          <li>
            <a href="/room/5">Room 5</a>
          </li>
          {{end}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{if .Username}}
          <li class="active">
            <a href="/">Welcome, {{.Username}}</a>
          </li>
					<li>
						<a href="#" id="logoutNavButton">Logout</a>
					</li>
					<script type="text/javascript" src="/js/webpack/loggedInHeader.bundle.js"></script>
          {{else}}
          <li>
            <a href="#" id="loginNavButton">Login</a>
          </li>
          <li>
            <a href="#" id="registerNavButton">Register</a>
          </li>
					<link href="/css/login.css" rel="stylesheet" type="text/css" />
					<script type="text/javascript" src="/js/webpack/login.bundle.js"></script>
          {{end}}
        </ul>
      </div>
    </nav>
		{{if .ShowLogin}}
		<div id="loginPopup" showLogin=true></div>
		{{else}}
		<div id="loginPopup" showLogin=false></div>
		{{end}}
    <div class="container-fluid">
{{end}}
