{{define "sidebar"}}
<link href="/css/sidebar.css" rel="stylesheet" type="text/css">
<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<div class="col-sm-3 col-md-2 sidebar">
  <button class="new-room nav-sidebar-button" data-toggle="modal" data-target="#new-room-modal">+</button>
  <ul class="nav nav-sidebar nav-sidebar-opts">
    <li>
      <a id="my-rooms-link"
      onclick="$('.rooms-body').hide(); $('#my-rooms-body').show(); $('#my-rooms-link').addClass('active'); $('#shared-rooms-link').removeClass('active')">My Rooms</a>
    </li>
    <li>
      <a id="shared-rooms-link"
      onclick="$('.rooms-body').hide(); $('#shared-rooms-body').show(); $('#shared-rooms-link').addClass('active'); $('#my-rooms-link').removeClass('active')">Shared Rooms</a>
    </li>
  </ul>
</div>
<div id="new-room-modal" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create A New Room</h4>
        </div>
        <div class="modal-body">
          <input class="modal-input" placeholder="Enter a Youtube link"></input>
        </div>
        <div class="modal-footer">
          <button onclick="window.location.href='/room/492'" type="button" class="modal-button" data-dismiss="modal">Create Room</button>
        </div>
      </div>

    </div>
</div>
{{end}}
